definition.json
{"name":"f43eacdc-5630-44da-99be-3816e95becd1","id":"/providers/Microsoft.Flow/flows/f43eacdc-5630-44da-99be-3816e95becd1","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Email Processing Flow","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"5a0e14dd-0354-4d8d-a01b-0886bcbd9956","type":"User","tenantId":"f0b9e9d7-8d66-4b16-9c1c-6b07c4796280"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-03-18T14:40:22.2507343Z","connectionKeySavedTimeKey":"2025-03-18T14:40:22.2507343Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_a_new_email_arrives_(V3)":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionNotification","inputs":{"parameters":{"from":"Astrit.Popova@student.laurea.fi","subjectFilter":"Feedback"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"OnNewEmailV3"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_user_profile_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"id":"From"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"authentication":"@parameters('$authentication')"}},"Get_emails_(V3)":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"importance":"Any","fetchOnlyWithAttachment":false,"folderPath":"Inbox","fetchOnlyUnread":true,"includeAttachments":false,"top":10},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"GetEmailsV3"},"authentication":"@parameters('$authentication')"}},"Analyze_positive_or_negative_sentiment_in_text":{"runAfter":{"Get_emails_(V3)":["Succeeded"]},"metadata":{"flowSystemMetadata":{"portalOperationId":"aibuilderpredict_sentimentanalysis","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"parameters":{"item/requestv2/language":"en","item/requestv2/text":"Body","recordId":"f1c549c2-a97e-47a5-b612-c5c2bab0f163"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_sentimentanalysis"},"authentication":"@parameters('$authentication')"}},"Create_HTML_table":{"runAfter":{"Analyze_positive_or_negative_sentiment_in_text":["Succeeded"]},"type":"Table","inputs":{"from":"@{triggerOutputs()?['body/attachments']}@{outputs('Analyze_positive_or_negative_sentiment_in_text')?['body/responsev2/predictionOutput/result/sentences']}","format":"HTML"}},"For_each":{"foreach":"@outputs('Get_emails_(V3)')?['body/value']","actions":{"Add_rows_to_a_dataset":{"type":"OpenApiConnection","inputs":{"parameters":{"groupid":"@outputs('Analyze_positive_or_negative_sentiment_in_text')?['body/responsev2/predictionOutput/result/documentScores/negative']","datasetid":"@items('For_each')?['from']","tablename":"@item()?['subject']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerbi","connectionName":"shared_powerbi","operationId":"AddRows"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_HTML_table":["Succeeded"]},"type":"Foreach"},"Send_an_email_notification_(V3)":{"runAfter":{"For_each_1":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"request/to":"Vedat.Begolli@student.laurea.fi","request/subject":"Robotic Project ","request/text":"<p class=\"editor-paragraph\">New email processed. Check Power BI for details.\"</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"authentication":"@parameters('$authentication')"}},"For_each_1":{"foreach":"@outputs('Get_emails_(V3)')?['body/value']","actions":{"Post_card_in_a_chat_or_channel":{"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Channel","body/recipient/groupId":"4d8969c6-d511-4b6b-ad2d-6d45e0801786","body/recipient/channelId":"19:wfvFDFqGAs5bWhhqbfAk515zapx9sy1fDYghJ9u0Yl81@thread.tacv2","body/messageBody":"@items('For_each_1')?['from']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostCardToConversation"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_emails_(V3)":["Succeeded"],"Create_file":["Succeeded"]},"type":"Foreach"},"Create_file":{"runAfter":{"For_each":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://teams.microsoft.com/l/channel/19%3AwfvFDFqGAs5bWhhqbfAk515zapx9sy1fDYghJ9u0Yl81%40thread.tacv2/General?groupId=4d8969c6-d511-4b6b-ad2d-6d45e0801786","folderPath":"@body('Create_HTML_table')","name":"Subject","body":"from"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"outputs":{}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-fa2b3806-797a-48fd-b9bc-7f00cf3b02ae","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365"},"shared_office365users":{"connectionName":"shared-office365user-5d8eaec4-cf07-4118-99d6-77c2ec4e13f8","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified","apiName":"office365users"},"shared_commondataserviceforapps":{"connectionName":"shared-commondataser-3a77c159-3ef5-450e-927d-1a58bdc58c0c","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","tier":"NotSpecified","apiName":"commondataserviceforapps"},"shared_powerbi":{"connectionName":"shared-powerbi-2ad38da0-9747-4be8-97b6-9aa6e81ab440","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_powerbi","tier":"NotSpecified","apiName":"powerbi"},"shared_sendmail":{"connectionName":"shared-sendmail-9c040ae6-5cec-4e89-9136-f2d5c541fc79","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified","apiName":"sendmail"},"shared_teams":{"connectionName":"shared-teams-e281eaad-20c6-42de-9d7a-f9a40bece2a1","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified","apiName":"teams"},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-05b0abe9-e4fd-4101-a5a8-9398b2ce76e5","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline"}},"flowFailureAlertSubscribed":false,"isManaged":false}}